@using Pin.CoffeeMachines.Model;

<!--Please use css classes!-->
<h3 style="text-decoration: underline;">@Title</h3>
<div class="flex-gray">

    @foreach(var machine in Machines)
    {
        <CoffeeMachineCard Machine="machine" />
    }

</div>



@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public CoffeeMachine[] Machines { get; set; }

}
