@typeparam TModel where TModel : Machine

<h3>@Title</h3>
<div>@ListInfo</div>
<ul>
    @foreach(var machine in Machines)
    {
        <li>@machine.Description (@machine.TimesDefected times defected)</li>
    }
</ul>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public TModel[] Machines { get; set; }

    [Parameter]
    public RenderFragment? ListInfo { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}