<dialog open>
    <p>@Message</p>
    <form method="dialog">
        <button @onclick="e => OnConfirm.InvokeAsync()">OK</button>
    </form>
</dialog>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback OnConfirm { get; set; }
}
