@page "/generics"
@using Pin.CoffeeMachines.Components
@inject ICrudService<CoffeeMachine> coffeeMachineService;
<h3>Generics</h3>

<MachineList TModel="CoffeeMachine" Machines="coffeeMachines" Title="Coffee machines">
    <ListInfo>
        <p>This is a list of all the Howest coffee machines.</p>
    </ListInfo>
</MachineList>
<MachineList TModel="SodaMachine" Machines="sodaMachines" Title="Soda machines">
    <ListInfo>
        <p>There is a list of the follow suppliers:</p>
        <img width="100" src="https://upload.wikimedia.org/wikipedia/commons/6/68/Pepsi_2023.svg" />
        <img width="100" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Coca-Cola_logo.svg" />
    </ListInfo>
</MachineList>

@code {
    private CoffeeMachine[] coffeeMachines = new CoffeeMachine[0];
    private SodaMachine[] sodaMachines = new SodaMachine[0];
    protected async override Task OnInitializedAsync()
    {
        coffeeMachines = (await coffeeMachineService.GetAll()).ToArray();

        var inmemorySodaMachines = new SodaMachine[]
        {
            new SodaMachine { Id = Guid.NewGuid(), Color = "Blue" , Description = "Pepsi machine", NumberOfRacks = 4, TimesDefected = 0 },
            new SodaMachine { Id = Guid.NewGuid(), Color = "Red" , Description = "Coca-cola machine", NumberOfRacks = 5, TimesDefected = 1 }
        };

        sodaMachines = inmemorySodaMachines;

    }

}
