@page "/"
@using Pin.CoffeeMachines.Components
@using Pin.CoffeeMachines.Lib
@using Pin.CoffeeMachines.Model;


<PageTitle>Index</PageTitle>

<Bean Title="Arabica"></Bean>
<Bean Title="Robusta" BeanColor="green"></Bean>

@if(currentCoffeeMachine == null)
{
    <CoffeeMachineList
        Title="Howest coffee machines" 
        Items="displayMachines"
        OnAdd="OnAddCoffeeMachine"
        OnEdit="OnEditCoffeeMachine"
        OnDelete="OnDeleteCoffeeMachine" />
}

else
{
    <CoffeeMachineForm 
        CoffeeMachine="currentCoffeeMachine" 
        OnSave="SaveCoffeeMachine"
        OnCancel="CancelOperation" />
}

@if(showDeleteMessagebox) {
    <MessageBox Message="Sure you want to delete?" OnConfirm="DeleteConfirmed"/>
}

<CoffeeMachineOverview Title="Leaderboard broken machines" Machines="leaderboardMachines" />
<CoffeeMachineOverview Title="Gray machines" Machines="grayMachines" />


<ul>
    @foreach(var bean in allBeans)
    {
        <li>@bean.Name</li>
    }
</ul>

